$main-color:tomato;
$text-color:green;
$heading-color:white;

$container-large-bg:tomato;
$container-small-bg: green;
$container-very-small-bg: blue;
$container-padding:30px;
$container-margin:30px;



// For with to

$i:1;
@for $i from 1 to 10 {
    .list-#{$i}{
        width: 100px * $i;
    }
    
}

// For with through


$i:1;
@for $i from 1 through 10 {
    .list-#{$i}{
        width: 100px * $i;
    }
    
}
