$default-div-border:2px solid tomato;
$default-div-padding:20px;
$default-heading-border:2px solid tomato;
$default-heading-padding:10px;

@mixin border-radius($value) {
    -webkit-border-radius:$value;
    -moz-border-radius:$value;
    border-radius: $value;
}

@mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow:$top $left $blur $color;
    -moz-box-shadow:$top $left $blur $color;
    box-shadow:$top $left $blur $color;    
}

// .commonClass{
//     color:red;
//     text-transform: uppercase;
//     font-size: 2rem;
//     font-family: Arial, Helvetica, sans-serif;
// }

%commonClass{
    color:red;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

@import "variables";
*{
    padding: 0px;
    margin: 0px;
}
.section{
    .section-about{
        margin: 30px;
        border: $default-div-border;
        padding: $default-div-padding;
        // box-shadow: 10px 10px 5px lightblue;
        @include box-shadow(2px, 2px, 5px, #1b1b1b)

    }
    h1{
        @include border-radius(10px);
        // @extend .commonClass;
        @extend %commonClass;
        border: $default-heading-border;
        color:$primary-text-color;
        padding: $default-heading-padding;
    }
    h2{
        // @extend .commonClass;
        @extend %commonClass;
        margin-top: 20px;
        @include border-radius(5px);
        border: $default-heading-border;
        padding: $default-heading-padding;


    }
}
@import "navbar";
